body {
    font: 14px sans-serif;
}

rect {
    fill: steelblue;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path{
    fill: none;
    stroke: none;
}
.bar {
    fill: steelblue;
}
.selected{
	fill: red;
}

.line{
	 display: inline-block;
}

ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}

